<div class="row">
	<div class="col-md-12">
		<div class="panel panel-info">
			<div class="panel-heading">
				<h4>Orders panel</h4>
			</div>
			<div class="panel-body">
				<h2>Order number: {{order_id}}</h2>
				{{#if first_name}}
					Hello {{first_name}}
				{{/if}}
			</div>
		</div>
	</div>
</div>